.page-body {
   background-image: url("../img/Background.jpg");
   background-size: cover;
   background-attachment: fixed;
   color: #434343;
   font-family: 'Ubuntu';
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
   height: 59px;
}

header a {color: #FFFFFF; 
} 

a:hover {
color:#3CB878;
}

.main-header {
   display: flex;
   justify-content: space-between;
   color: white;
   background: rgba(0, 0, 0, 0.4);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   align-items: center;
   padding-top: 18px;
   padding-bottom: 18px;
}

.social-item_icon:hover {
   fill: #3CB878;
 }

/* .icon-item-calendar {
   display: inline-block;
   height: 24px;
   width: 21px;
   background: url("../img/vector1calendar.svg");
}
 .icon-item-calendar:hover {
   background: url("../img/calendaraltregular1.svg");
}

 .icon-item-envelop {
   display: inline-block;
   height: 23px;
   width: 23px;
   background: url("../img/vector2envelope.svg");
}
 .icon-item-envelop:hover {
   background: url("../img/envelopeopenregular1.svg");
}

 .icon-item-compas {
   display: inline-block;
   height: 24px;
   width: 23px;
   background: url("../img/vector3compass.svg")
 }
 .icon-item-compas:hover {
   background: url("../img/compassregular1.svg");
 } */

.icon {
   display: flex;
   column-gap: 48px;
   margin-right: 79px;
   align-items: center;
}

.icon-item {
   display: inline;
   margin-left: 24px;
   vertical-align: top;
}

.main-logo {
   font-weight: 700;
   font-size: 22px;
   line-height: 22px;
   margin-left: 79px;
}

.form-link::before {
   content: '';
   border: 1px solid white;
   background: rgba(255, 255, 255, 0.9);
   opacity: 0.5;
   display: inline-block;
   height: 17px;
   position: absolute;
   margin: 0 0 0 -27px;
} 

/* MAIN CONTENT */
.container {
   max-width: 444px;
   height: 584px; 
   background-color: #FFFFFF;
   box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
   margin: 54px auto 0 auto;
   position: relative;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -262.5px; /*размер блока минус выота хедера / на 2 */
   margin-left: -222px; /*размер блока  / на 2 */

}
.figure {
   position: absolute;
   height: 18px;
   width: 18px;
   background: #3CB878;
   top: 29px;
}

.registration-form {
   padding: 31px 60px 38px 60px;

}
.title {
   display: flex;
   justify-content: space-between;
}

.title-signin {
   font-size:20px;
   line-height: 20px;
   color: #434343;
}

.title-login {
   color: #3CB878;
}
.title-login:hover {
   color: #01813F;
   text-decoration: underline solid #01813F  1px;
}

.title {
   display: flex;
   justify-content: space-between;
}

.social-btn {
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
   margin-bottom: 34px;
}

/* SOCIAL LINK */

.loginBtn {
   display: flex;
   justify-content: space-between;
   width: 160px;  
   border-radius: 0.2em;
   font-size: 16px;
   line-height: 16px;
   color: #FFF;
   align-items: center;
   padding-top: 10px;
   padding-bottom: 12px;
   padding-left: 11px;
   padding-right: 27px;
 }

 /* Facebook */
 .loginBtn--facebook {
   background-color: #305DB8;
}

.facebook_line {
   border-left: 1px solid #0A162F;
   opacity: 0.1;
   height: 28px;
   padding-left: 11px;  
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
   background: #022263;
}
  
 /* Google */
 .loginBtn--google {
   background: #DF4A32;
}

.google_line {
   border-left: 1px solid #2B0D09;;
   opacity: 0.1;
   height: 28px;
   padding-left: 30px;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
   background: #AB1F09;
} 

/* LINE - OR - */
.option {
   overflow: hidden;
   text-align: center;
   font-size: 14px;
   line-height: 14px;
   color: #848484;
   margin-bottom: 12px;
}
.option:before,
.option:after {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 100%;
   height: 1px;
   background-color: #F2F2F2;
   position: relative;
}
.option:before {
   margin-left: -100%;
   left: -2px;
}
.option:after {
   margin-right: -100%;
   right: -2px;
}

/* FORM */
input  {
   width: 322px;
   height: 45px;
   background-color: white;
   margin-bottom: 15px;
   border: 1px solid #F2F2F2;
   border-radius: 4px;
   padding: 15px 15px 20px;
   color: #434343;
}
input:focus{
   border: 1px solid #F2F2F2;
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
   outline:none;
}

/*  CHECKBOX - AGREEMENT  */
.checkbox {
   position:relative;
   padding-left:28px;
   padding-top: 3px;
}
.checkbox input[type=checkbox] {
   display:none;
}
.checkbox label:after {
   content:'';
   display:block;
   height:20px;
   width:20px;
   outline:1px solid #F2F2F2;
   position:absolute;
   top:0;
   left:0;
   cursor:pointer;
}
.checkbox input[type=checkbox]:checked + label:after {
   background-image: url("../img/Vectorcheck.svg");
   background-repeat: no-repeat;
   background-size: contain;
}
.terms {
   text-decoration: none;
   color: #434343;
}
.terms:hover {
   color: #01813F;
   text-decoration: underline solid #01813F 1px;
}

/*  BUTTON - CREATE ACCOUNT  */
.form-btn{
   border: none;
   background-color:#3CB878;
   background: rgba(60, 184, 120, 0.8);
   border-radius: 4px;
   padding: 10px;
   color: white;
   font-size: 16px;
   line-height: 16px;
   width:324px;
   margin-top: 20px;
   padding-top: 16px;
   padding-bottom: 16px;
}

.form-btn:hover {
   background-color:#3CB878;
}
